<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311408447804-2t2fr9h7quhcclui60joidrshuhj3ssc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311408447804-2t2fr9h7quhcclui60joidrshuhj3ssc</string>
	<key>API_KEY</key>
	<string>AIzaSyBZGL0QNwHm18rcibnS9mti1Al8nu7yyVw</string>
	<key>GCM_SENDER_ID</key>
	<string>311408447804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.InClass10</string>
	<key>PROJECT_ID</key>
	<string>inclass10fb</string>
	<key>STORAGE_BUCKET</key>
	<string>inclass10fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311408447804:ios:30f911a69b4ddaa7388e39</string>
	<key>DATABASE_URL</key>
	<string>https://inclass10fb.firebaseio.com</string>
</dict>
</plist>